@page "/"



<div class="home" id="home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="home-text col-md-8">
                <h2 class="wow fadeInDown"
                    data-wow-delay="1.5s"
                    data-wow-duration="1.5s"
                    data-wow-offset="10">
                    Get there faster with
                </h2>

                <h1 class="wow fadeInDown"
                    data-wow-delay="2s"
                    data-wow-duration="1.5s"
                    data-wow-offset="10">
                    B-Dash.
                </h1>
                <br /><br /><br />
                <p class="lead wow fadeInDown"
                   data-wow-delay="2s"
                   data-wow-duration="1.5s"
                   data-wow-offset="10">
                    Using water instead of land is guranteed to get you to where-ever faster. Enjoy fast comfortable
                    Dash-trips with B-Dash.
                </p>
                <br />
                <a href="#"
                   target="_blank"
                   class="btn btn-default btn-rounded btn-lg wow fadeInUp"
                   data-wow-delay="2.5s"
                   data-wow-duration="1.5s"
                   data-wow-offset="10">Download</a>
                <a href=""
                   target="_blank"
                   class="btn btn-success btn-rounded btn-lg wow fadeInUp"
                   data-wow-delay="2.5s"
                   data-wow-duration="1.5s"
                   data-wow-offset="10">Book a Quick Ride</a>
            </div>
            <div class="scroller">
                <div class="mouse"><div class="wheel"></div></div>
            </div>
        </div>
    </div>
</div>

<!-- features -->
<div class="container" id="features">
    <div class="row features-list">
        <div class="col-sm-4 wow fadeInLeft"
             data-wow-duration="1.5s"
             data-wow-offset="10"
             data-wow-delay="0.5s">
            <div class="feature-icon">
                <i class="fa fa-laptop"></i>
            </div>
            <h2>Fully Responsive</h2>
            <p>
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
                Nullam id dolor id nibh ultricies
            </p>
            <p>
                <a class="btn btn-link" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4 wow fadeInLeft"
             data-wow-duration="1.5s"
             data-wow-offset="10"
             data-wow-delay="0.7s">
            <div class="feature-icon">
                <i class="fa fa-lightbulb-o"></i>
            </div>
            <h2>Creative Design</h2>
            <p>
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
                Nullam id dolor id nibh ultricies
            </p>
            <p>
                <a class="btn btn-link" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4 wow fadeInLeft"
             data-wow-duration="1.5s"
             data-wow-offset="10"
             data-wow-delay="0.9s">
            <div class="feature-icon">
                <i class="fa fa-support"></i>
            </div>
            <h2>Free Support</h2>
            <p>
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
                Nullam id dolor id nibh ultricies
            </p>
            <p>
                <a class="btn btn-link" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
    </div>
</div>

<section id="section-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft"
                 data-wow-delay="0.5s"
                 data-wow-duration="1.5s"
                 data-wow-offset="10">
                <img src="~/assets/images/iphone.png" class="iphone-img" alt="" />
            </div>
            <div class="col-sm-8 wow fadeInRight"
                 data-wow-delay="0.5s"
                 data-wow-duration="1.5s"
                 data-wow-offset="10">
                <h1>The Power You Need</h1>
                <p>
                    Aenean posuere, tortor sed cursus feugiat, nunc augue blandit
                    nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit
                    libero, sodales nec, volutpat a, suscipit non, turpis. Nullam
                    sagittis. Suspendisse pulvinar, augue ac venenatis condimentum,
                    sem libero volutpat nibh, nec pellentesque velit pede quis nunc.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero.
                </p>
                <ul class="list-unstyled features-list-2">
                    <li>
                        <i class="fa fa-diamond icon-state-success m-r-xs icon-md"></i>Unique design
                    </li>
                    <li>
                        <i class="fa fa-check icon-state-success m-r-xs icon-md"></i>Everything you need
                    </li>
                    <li>
                        <i class="fa fa-cogs icon-state-success m-r-xs icon-md"></i>Tons
                        of features
                    </li>
                    <li>
                        <i class="fa fa-cloud icon-state-success m-r-xs icon-md"></i>Easy to use &amp; customize
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- testimonials -->

<section id="section-3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeInUp"
                 data-wow-delay="0.5s"
                 data-wow-duration="1.5s"
                 data-wow-offset="10">
                <div id="carousel-example-generic"
                     class="carousel slide"
                     data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic"
                            data-slide-to="0"
                            class="active"></li>
                        <li data-target="#carousel-example-generic"
                            data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic"
                            data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <p class="text-white">
                                        “Aenean posuere, tortor sed cursus feugiat, nunc augue
                                        blandit nunc, eu sollicitudin urna dolor sagittis lacus.
                                        Donec elit libero, sodales nec, volutpat a, suscipit
                                        non, turpis. Nullam sagittis. Suspendisse pulvinar,
                                        augue ac venenatis condimentum, sem libero volutpat
                                        nibh, nec pellentesque velit pede quis nunc. Vestibulum
                                        ante ipsum primis in faucibus orci luctus et ultrices
                                        posuere cubilia Curae; Fusce id purus. Ut varius
                                        tincidunt libero.”
                                    </p>
                                    <span>- David, App Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <p class="text-white">
                                        “Lorem ipsum dolor sit amet, consectetuer adipiscing
                                        elit. Aenean commodo ligula eget dolor. Aenean massa.
                                        Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus. Donec quam felis,
                                        ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                                        consequat massa quis enim. Donec pede justo, fringilla
                                        vel, aliquet nec, vulputate eget, arcu. In enim justo,
                                        rhoncus ut, imperdiet a, venenatis vitae, justo.”
                                    </p>
                                    <span>- Sandra, Director</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <p>
                                        “Curabitur ligula sapien, tincidunt non, euismod vitae,
                                        posuere imperdiet, leo. Maecenas malesuada. Praesent
                                        congue erat at massa. Sed cursus turpis vitae tortor.
                                        Donec posuere vulputate arcu. Phasellus accumsan cursus
                                        velit. Vestibulum ante ipsum primis in faucibus orci
                                        luctus et ultrices posuere cubilia Curae; Sed aliquam,
                                        nisi quis porttitor congue, elit erat euismod orci, ac
                                        placerat dolor lectus quis orci. Phasellus consectetuer
                                        vestibulum elit.”
                                    </p>
                                    <span>- Amily, UI Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class = "container" >
        <p class = "text-center no-s" >2015 &copy; Modern by Steelcoders.</p>
    </div>
</footer>